/** configuração geral **/
*{
	margin: 0;
  padding: 0;
}

body{
  text-align: center;
  background: linear-gradient( #dcdcdc, #f8f8f8) no-repeat;
}

#conteudo {
  width: 900px;
  height: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/** configuração do menu **/
#cabecalho {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: linear-gradient(to left, #000b2d, #48d1cc);
}

.menu {
  width: 100%;
  height: 50px;
  font-family: 'Arial';
 }

 .menu ul {
  list-style: none;
  position: relative;
 }

 .menu ul li {
  width: 110px;
  float: right;
 }

 .menu a {
  padding: 20px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #F5F5F5;
 }

 .menu a:hover {
  color: #dcdcdc;
 }

 .menu ul ul {
  position: absolute;
  visibility: hidden;
 }

 .menu ul li:hover ul {
  visibility: visible;
 }

 .menu ul ul li {
  float: none;
  border-bottom: solid 1px #ccc;
 }

 label[for="bt_menu"] {
  padding: 5px;
  background-color: #48d1cc;
  color: #ffff;
  font-family: 'Arial';
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: none;
 }

 #bt_menu {
  display: none;
 }

.area-cabecalho {
  width: 880px;
  height: 80px;
  margin: 0% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img {
  width: 120px;
  height: 30px;
  padding-top: 15px;
}


/** configuração do titulo **/
.titulo {
  margin: 10px;
  width: 100%;
  height: 100px;
  background: #F8F8FF;
  box-shadow: 3px 2px #DCDCDC;
}

.box-titulo {
  width: 600px;
  height: 90px;
  background: #F8F8FF;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.box-titulo img {
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 50%;
}

.texto-titulo {
  padding: 15px 5px;
  text-align: left;
  color: #bebebe;
}

.texto-titulo span {
  padding: 15px 5px;
  color: #000000;
  text-align: left;
  font-weight: bold;
}

/** configuração dos cards **/
.box-card {
  width: 280px;
  height: 90px;
  background: #F8F8FF;
  margin: 10px;
  box-shadow: 3px 3px #DCDCDC;
  border: 1px #dcdcdc;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.box-card:hover {
  background:#002753;
  color: #F5F5F5;
}

.box-card img {
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 50%;
}

.box-card h3 {
  text-align: left;
  margin-top: 25px;
}

.box-card h5 {
  text-align: left;
  color: #bebebe;
}

/** configuração para o script **/
.ocultar {
  display: none;
}

/** configuração para o responsivo **/
@media screen and (min-width:0px) and (max-width:500px) {
  .titulo {
    margin: 10px;
  }

  .box-titulo {
    width: 400px;
  }

  .box-card {
    width: 460px;
  }

  #img {
    padding-left: 10px;
  }

  label[for="bt_menu"] {
    display: block;
   }
 
   #bt_menu:checked ~ .menu {
    margin-left: 0;
   }
 
   .menu {
    margin-top: 5px;
    margin-left: -100%;
    transition: all .4s;
    display: none;
   }
 
   .menu ul li {
    width: 100%;
    float: none;
   }

   .menu ul ul {
    position: static;
    max-height: 0;
    transition: all .8s;
   }

   .menu ul li:hover ul {
    height: auto;
    max-height: 200px;
   }
  }
@media screen and (min-width:501px) and (max-width:910px) {
  .titulo {
    width: 900px;
  }

  .box-card {
    width: 900px;
  }

  #img {
    padding-left: 10px;
  }
}